*.log
*.vmdk
*.ovf
*.box
*.map
build/database/.vagrant/machines/default/virtualbox/action_set_name
build/database/.vagrant/machines/default/virtualbox/id
build/database/.vagrant/machines/default/virtualbox/creator_uid
build/webserver/.vagrant/machines/default/virtualbox/action_provision
build/webserver/.vagrant/machines/default/virtualbox/creator_uid
build/webserver/.vagrant/machines/default/virtualbox/private_key
install/packer_cache/67a897a0a73c45516a1d99eb542bbf307bce1097f95652e0791d1284ee56d0be.iso
build/database/.vagrant/machines/default/virtualbox/index_uuid
build/database/.vagrant/machines/default/virtualbox/private_key
build/webserver/.vagrant/machines/default/virtualbox/id
build/webserver/Vagrantfile
build/webserver/.vagrant/machines/default/virtualbox/synced_folders
build/database/Vagrantfile
build/database/.vagrant/machines/default/virtualbox/action_provision
build/webserver/.vagrant/machines/default/virtualbox/action_set_name
webpages/css/Index.css
webpages/css/Index.css
webpages/css/Index.css