@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet');
/* -------------------------------------------------------------------------- */
/* -----| Clear Browser Settings |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0;  padding: 0;  border: 0;  font-size: 100%; font: inherit; vertical-align: baseline;  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;} table { border-collapse: collapse; border-spacing: 0;}

/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

html{
    height: 100%;
}

body {
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    background: #edeae6 url("images/innovation.jpg") no-repeat center ;
    background-size: cover;
}
input{
    float: none;
}

.fb-login-button{
    margin: 0 auto;
}
.overlay{
    background-image: linear-gradient(rgba(0, 0, 0, 0.72),rgba(0, 0, 0, 0.2));
    background-size: cover;
    width: 100%;
}
.sidebar{
    border-right: 2px dashed #181c16;
}
.profiledetails{
    font-size: 18px;
    margin-top: 15px;
}
.container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px;
}

.row {
    margin: 0 15px 0 15px;
}
a {
    color: #00F;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/* -----| Sign In Page|---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.form-box{
    height: 65%;
    margin: 5%;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.55);
}
.IITSignIn{
    float: left;
    position: relative;
    min-height: 125px;
    padding-right: 15px;
    padding-left: 15px;
    width: 90%;
}

.outsideSign-In{
    float: left;
    position: relative;
    min-height: 125px;
    padding-right: 15px;
    padding-left: 15px;
    width: 90%;

    /* Header */
    font-family: 'Josefin Slab', serif;
    font-size: 250%;
    color: #181c16;
    margin-top: 5%;
    word-spacing: .5px;
    letter-spacing: 5px;
}
.col {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;

    height: 100%;
}
.colButton{
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin: 5%;
}



#login{
    float: left;
}
#form2{
    margin: 7%;
}
#text{
    padding: 5% 5% 0 5%;
    text-align: justify;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}
h1#hawkstagram{
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
    font-weight: 500;
    color: 	#Cf0015;
    word-spacing: .5px;
    letter-spacing: 2px;
    text-align: center;
    margin: 2% 2%  2% 3%;
    background-color: rgba(255, 255, 255, 0.55);
    width: 94%;

}
h2#loginIITHeader{
    font-family: 'Josefin Slab', serif;
    font-size: 200%;
    color: #181c16;
    margin: 2%;
    word-spacing: .5px;
    letter-spacing: 5px;
}

h2#photoUpload{
    font-family: 'Josefin Slab', serif;
    font-size: 150%;
    text-align: center;

}

img.resize{
    width: 540px; /* you can use % */
    height: auto;
}
/* ---------------------------------------- */
/* ----|  Buttons  |----------------- */
/* ---------------------------------------- */
.btn {
    background: #Cf0015;
    background-image: -webkit-linear-gradient(top, #Cf0015, #941919);
    background-image: -moz-linear-gradient(top, #Cf0015, #941919);
    background-image: -ms-linear-gradient(top, #Cf0015, #941919);
    background-image: -o-linear-gradient(top, #Cf0015, #941919);
    background-image: linear-gradient(to bottom, #Cf0015, #941919);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #521b0c;
    text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/* -----| Media @ 850px |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 850px) {
    .col {
        -moz-column-count: auto;
        -webkit-column-count: auto;
        column-count: auto;
    }
    .form-box {
        margin: 4% 0 0 5%;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.55);
    }
    h1#hawkstagram{
        font-size: 250%;
        margin: 2% 2% 2% 7%;
        padding: 2%;
        width: 86%;
    }
    #boxes{
        height: auto;
    }
    h1{
        font-size: 2.8em;
    }
    ul {
        display: none;
        height: auto;
    }
    a {
        text-align: left;
        width: 100%;
        text-indent: 25px;

    }

    a:hover {

    }
    a#openup:after {
        content:"|||";
        transform:rotate(-90deg);
        -ms-transform:rotate(-90deg); /* IE 9 */
        -webkit-transform:rotate(-90deg); /* Safari and Chrome */
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 20px;
    }

    a#openup {
        display: block;
        width: 100%;
        position: relative;
    }
    #text{
        padding: 5.5%;
        text-align: justify;
    }
}
@media screen and (max-width: 650px) {
    .col {
        -moz-column-count: auto;
        -webkit-column-count: auto;
        column-count: auto;
    }
    .form-box {
        margin: 4% 0 0 5%;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.55);
    }
    .overlay{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
        background-size: cover;
        height: 92vh;
        width: 100%;
    }
    h1#hawkstagram{
        font-size: 250%;
        margin: 2% 2% 2% 7%;
        padding: 1%;
        width: 86%;
    }
    #boxes{
        height: auto;

    }
    #text{
        padding: 6.5%;
        text-align: justify;
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
        text-indent: 30px;
        color: #c5a173;
    }
    h2#loginIITHeader{
        font-family: 'Josefin Slab', serif;
        font-size: 200%;
        color: #181c16;
        margin: 2%;
        letter-spacing: 2px;
    }
    h3#outsideHeader{
        font-family: 'Josefin Slab', serif;
        font-size: 200%;
        color: #181c16;
        margin-top: 5%;
        letter-spacing: 2px;
    }
}