#navigation ul {
    list-style-type: none;
    overflow: hidden;
    height: 10%;
    margin: 2% 2% 2% 3%;
    text-align: center;
    display: inline-block;
    position: relative;
}
nav#navigation ul li {
    float: left;
    margin: 0 15px;

}
nav#navigation ul li a {
    display: block;
    background-color: #Cf0015;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 100px;
    padding: 10px 5px 8px 5px;
    margin-bottom: 4px;
    border-radius: 4px;
}

nav#navigation ul li a:hover {
    background-color: 	#Cf0015;
}
#nav{
    width: 100%;
    text-align: center;

}
#slideshow {
    width: 600px;
    height: 315px;
    margin: 0 auto;
    position: relative;
}
#slide {
    width: 600px;
    height: 315px;
    position: absolute;
    left: 0;
    top: 0;
}

/******************Nav Bar********************

#nav {
    top: 0;
    width: 100%;
    ext-align: center;
    clear: both;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2));
}
ul {
    padding: 10px;
    height: 10%;
    margin: 0 5% 2% 5%;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    width: 90%;

}

li {
    display: inline;
    float: left;
}

a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: white;
}

li:hover {
    background-color: lightgray;
}

a#openup {
    display: none;
}

****************Nav Bar***********************/
p#Name{
    font-family: 'Fredericka the Great', cursive;
    font-size: 150%;
    font-weigh: 500;
    color: 	#Cf0015;
    word-spacing: .5px;
    letter-spacing: 5px;
    float: left;
    padding: 1%;
    clear: right;
    margin: 0 0 2% 0;
    background-color: #181c16;}